<template>
	<form @submit.prevent="onSubmit" @keydown="form.errors.clear($event.target.name)">
		<div class="mb-4">
			<label for="name">Name</label>
			<input type="text" name="name" id="name" v-model="form.name" :class="{'border-red': form.errors.has('name')}">
			<span class="text-red text-xs italic" v-if="form.errors.has('name')" v-text="form.errors.get('name')"></span>
		</div>

		<div class="mb-4">
			<label for="email">Email</label>
			<input type="email" name="email" id="email" v-model="form.email" :class="{'border-red': form.errors.has('email')}">
			<span class="text-red text-xs italic" v-if="form.errors.has('email')" v-text="form.errors.get('email')"></span>
		</div>

		<div class="mb-4">
			<label for="message">Message</label>
			<textarea name="message" id="message" rows="5" v-model="form.message" :class="{'border-red': form.errors.has('message')}"></textarea>
			<span class="text-red text-xs italic" v-if="form.errors.has('message')" v-text="form.errors.get('message')"></span>
		</div>

		<p>
			<button @click.prevent="onSubmit" :disabled="form.busy">
				Send Message
			</button>
		</p>
	</form>
</template>

<script>
	import Form from '../forms/form';
	import sweetalert from 'sweetalert';

    export default {
        data() {
            return {
                form: new Form({
                    name: '',
                    email: '',
                    message: '',
                }),
            };
		},
		
		methods: {
            onSubmit() {
                this.form.post('/api/v1/contact')
                    .then((response) => {
						sweetalert({
							title: "Email Received!",
							text: "I'll get back to you shortly.",
							icon: "success",
						});

						this.form.name = '';
						this.form.email = '';
						this.form.message = '';
					})
					.catch((error) => {
						if (error.status == 422) {
							return;
						}

						sweetalert({
							title: "Oops!",
							text: "Seems like something went wrong!",
							icon: "error",
						});
					});
			}
		}
	}
</script>