<template>
    <div class="container">
        <p>
            Aenean lacinia bibendum nulla sed consectetur.
            Vivamus sagittis lacus vel augue {{ currency }}<input type="number" class="inline" v-model="income"> laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur.
            Maecenas sed diam eget risus varius blandit sit amet non magna.
            Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
            Maecenas sed diam eget risus varius blandit sit amet non magna.
        </p>

        <table class="ui celled table">
            <thead>
                <tr>
                    <th class="eight wide">Expense</th>
                    <th class="four wide">Monthly Cost</th>
                    <th class="four wide">Percentage of Income</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="expense in expenses">
                    <td>
                        <div class="ui transparent fluid input">
                            <input class="inline" type="text" v-model="expense.label">
                            <i class="trash icon" @click="removeExpense(expense)"></i>
                        </div>
                    </td>
                    <td>
                        <div class="ui transparent fluid input">
                            <span class="currency">{{ currency }}</span>
                            <input class="inline" type="number" min="0" step="0.01" v-model.number="expense.cost">
                        </div>
                    </td>
                    <td>
                        {{ calculatePercentage(expense.cost) }}%
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="ui fluid input">
                            <input id="add-label" type="text" placeholder="Rent" v-model="newExpense.label" @keyup.enter="addExpense">
                        </div>
                    </td>
                    <td>
                        <div class="ui fluid input">
                            <input type="number" min="0" step="0.01" placholder="0.00" v-model="newExpense.cost" @keyup.enter="addExpense">
                        </div>
                    </td>
                    <td></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th>{{ totalExpenses | currency }}</th>
                    <th>{{ totalExpensesPercentage }}%</th>
                </tr>
            </tfoot>
        </table>

        <p>
            Aenean lacinia bibendum nulla sed consectetur.
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur.
            Maecenas sed diam eget risus varius blandit sit amet non magna.
            Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
            Maecenas sed diam eget risus varius blandit sit amet non magna.
        </p>

        <div>
            <table>
                <thead>
                    <tr>
                        <th>Account</th>
                        <th>Monthly Amount</th>
                        <th>Percentage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="saving in savings">
                        <td>
                            <input type="text" v-model="saving.label">
                        </td>
                        <td>
                            <input type="number" min="0" step="0.1" v-model.number="saving.amount">
                        </td>
                        <td>
                            {{ calculatePercentage(saving.amount) }}%
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" v-model="newSaving.label" @keyup.enter="addSaving">
                        </td>
                        <td>
                            <input type="number" min="0" step="0.1" v-model.number="newSaving.amount" @keyup.enter="addSaving">
                        </td>
                        <td></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Total</td>
                        <td>{{ totalSavings | currency }}</td>
                        <td>{{ totalSavingsPercentage }}%</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                currency: '£',
                income: 3750,
                newExpense: {
                    label: '',
                    cost: 0,
                },
                expenses: [],
                newSaving: {
                    label: '',
                    amount: 0,
                },
                savings: [],
            }
        },
        methods: {
            addExpense() {
                this.expenses.push({
                    label: this.newExpense.label,
                    cost: this.newExpense.cost,
                });

                this.newExpense.label = '';
                this.newExpense.cost = 0;

                document.getElementById('add-label').focus();
            },
            removeExpense(expense) {
                this.expenses.splice(this.expenses.indexOf(expense), 1);
            },
            addSaving() {
                this.savings.push({
                    label: this.newSaving.label,
                    amount: this.newSaving.amount,
                });

                this.newSaving.label = '';
                this.newSaving.amount = 0;
            },
            round(value, precision) {
                var multiplier = Math.pow(10, precision || 0);
                
                return Math.round(value * multiplier) / multiplier;
            },
            calculatePercentage(value) {
                return this.round(value / this.income * 100, 1);
            }
        },
        computed: {
            totalExpenses() {
                return _.reduce(this.expenses, function(sum, expense) {
                    return sum + expense.cost;
                }, 0);
            },
            totalExpensesPercentage() {
                return this.round(this.totalExpenses / this.income * 100, 1);
            },
            totalSpending() {
                return this.income - this.totalExpenses - this.totalSavings;
            },
            totalSpendingPercentage() {
                return this.round(this.totalSpending / this.income * 100, 1);
            },
            totalSavings() {
                return _.reduce(this.savings, function(sum, saving) {
                    return sum + saving.amount;
                }, 0);
            },
            totalSavingsPercentage() {
                return this.round(this.totalSavings / this.income * 100, 1);
            },
        }
    }
</script>

<style lang="scss" scoped>
    input {
        height: auto;

        &.inline, &.inline:focus {
            color: #2ebaae;
        }
    }

    .currency {
        color: #2ebaae;
    }

    table {
        width: 80%;
        margin: 0 auto 2em;

        .trash {
            cursor: pointer;

            &:before {
                color: #8795A1;
            }

            &:hover:before {
                color: #606F7B;
            }
        }
    }
</style>