@tailwind preflight;
@tailwind components;

html {
	font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
	@apply .font-headings .font-bold .leading-tight .text-black;
}

a {
	transition: color .15s ease-in, background-color .15s ease-in;

	@apply .text-black;

	&:hover {
		@apply .text-blue;
	}
}

label {
	@apply .block .mb-2 .text-sm .font-bold .text-black;
}

input, textarea {
	@apply .appearance-none .block .w-full .mb-2 .py-2 .px-3 .border .border-grey-light .text-grey-darkest;
}

button, input[type="submit"], .button, .swal-button {
	@apply .block .py-4 .px-5 .bg-black .text-white .no-underline .leading-none .rounded-none;

	&:hover {
		@apply .bg-blue .text-white;
	}

	&:focus {
		@apply .shadow-none;
	}
}

.image-zoom {
	display: block;
	width: 100%;
	position: relative;
	overflow: hidden;

	img {
		display: block;
		width: 100%;
		transition: transform .15s ease-out;
	}

	&:hover {
		img {
			transform: scale(1.025);
		}
	}
}

.markdown {
	p {
		@apply .my-4;
	}
}

@tailwind utilities;